force-app/main/default/flows/Set_Actual_on_Target_VA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Total_Actuals_Balloon</name>
        <label>Set Total Actuals Balloon</label>
        <locationX>1194</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Total_Deps_Balloon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_actuals_Balloon.Month_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_actuals_Balloon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Actuals_IVL</name>
        <label>Set Total Actuals IVL</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Total_Deps_IVL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_actuals_IVL.Month_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_actuals_IVL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Actuals_OPN</name>
        <label>Set Total Actuals OPN</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Total_Deps_OPN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_actuals_OPN.Month_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_actuals_OPN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Actuals_PBMV</name>
        <label>Set Total Actuals PBMV</label>
        <locationX>1546</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Total_Deps_PBMV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_actuals_PBMV.Month_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_actuals_PBMV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Actuals_VA</name>
        <label>Set Total Actuals VA</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalDeps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_actuals_VA.Month_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_actuals_VA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Product_Family</name>
        <label>Check Product Family</label>
        <locationX>886</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Actuals_VA</targetReference>
            </connector>
            <label>VA</label>
        </rules>
        <rules>
            <name>IVL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Actuals_IVL</targetReference>
            </connector>
            <label>IVL</label>
        </rules>
        <rules>
            <name>OPN_NC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPN NC/NIC Nano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Actuals_OPN</targetReference>
            </connector>
            <label>OPN NC</label>
        </rules>
        <rules>
            <name>Balloon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Balloon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Actuals_Balloon</targetReference>
            </connector>
            <label>Balloon</label>
        </rules>
        <rules>
            <name>PBMV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PBMV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Actuals_PBMV</targetReference>
            </connector>
            <label>PBMV</label>
        </rules>
    </decisions>
    <interviewLabel>Set Actual on Target VA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Actual on Target Non DES</label>
    <loops>
        <name>Loop_Through_all_actuals_Balloon</name>
        <label>Loop Through all actuals Balloon</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Actuals_Balloon</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Total_Actuals_Balloon</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Target_Record_Balloon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_actuals_IVL</name>
        <label>Loop Through all actuals IVL</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Actuals_IVL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Total_Actuals_IVL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Target_Record_IVL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_actuals_OPN</name>
        <label>Loop Through all actuals OPN</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Actuals_OPN</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Total_Actuals_OPN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Target_Record_OPN</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_actuals_PBMV</name>
        <label>Loop Through all actuals PBMV</label>
        <locationX>1458</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Actuals_PBMV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Total_Actuals_PBMV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Target_Record_PBMV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_actuals_VA</name>
        <label>Loop Through all actuals VA</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Actuals_VA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Total_Actuals_VA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Target_Record_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Actuals_Balloon</name>
        <label>Get All Actuals Balloon</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_actuals_Balloon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Balloon</stringValue>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actual</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Actuals_IVL</name>
        <label>Get All Actuals IVL</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_actuals_IVL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actual</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Actuals_OPN</name>
        <label>Get All Actuals OPN</label>
        <locationX>754</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_actuals_OPN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPN NC/NIC Nano</stringValue>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actual</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Actuals_PBMV</name>
        <label>Get All Actuals PBMV</label>
        <locationX>1458</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_actuals_PBMV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PBMV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actual</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Actuals_VA</name>
        <label>Get All Actuals VA</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_actuals_VA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actual</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target_Record_0</name>
        <label>Update Target Record</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Month_Actual__c</field>
            <value>
                <elementReference>TotalDeps</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Deployment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Record_Balloon</name>
        <label>Update Target Record Balloon</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Balloon</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Month_Actual__c</field>
            <value>
                <elementReference>Total_Deps_Balloon</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Deployment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Record_IVL</name>
        <label>Update Target Record IVL</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVL</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Month_Actual__c</field>
            <value>
                <elementReference>Total_Deps_IVL</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Deployment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Record_OPN</name>
        <label>Update Target Record OPN</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPN NC/NIC Nano</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Month_Actual__c</field>
            <value>
                <elementReference>Total_Deps_OPN</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Deployment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Record_PBMV</name>
        <label>Update Target Record PBMV</label>
        <locationX>1458</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PBMV</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Month_Actual__c</field>
            <value>
                <elementReference>Total_Deps_PBMV</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Deployment__c</object>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Product_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>DES</stringValue>
            </value>
        </filters>
        <object>Daily_Deployment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Total_Deps_Balloon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Deps_IVL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Deps_OPN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Deps_PBMV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Deps_VA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalDeps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
